/* Add this to your CSS file or in a <style> tag */
.ai-assistance-container {
  /* position: fixed; 
  bottom: 0; 
  right: 0; 
  padding: 10px;  */
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000; /* Ensure it's above other content */
  background: white; /* Optional: Add background color for better visibility */
  padding: 10px; /* Optional: Add padding for better click area */
  border-radius: 50%; /* Optional: Make the background circle */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}

.ai-image {
  width: 50px; /* Adjust the size of the image as needed */
  height: auto; /* Maintain aspect ratio */
}
.profile-image {
  width: 10vw; /* Adjust as needed */
  height: auto; /* Maintain aspect ratio */
}
/* src/styles.css or a specific component CSS file */
/* .ai-assistance-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000; 
  background: white;
  padding: 10px; 
  border-radius: 50%; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
} */
