@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100;
}

img {
  width: 80%;
  height: 80%;
}
@media (max-width: 768px) {
  .profile-image {
    width: 8vw; /* Adjust for smaller screens */
  }
}

@media (min-width: 1024px) {
  .profile-image {
    width: 12vw; /* Adjust for larger screens */
  }
}